<aui-header>
  <div auiHeaderLogo>
      <aui-logo src="/assets/a-logo.svg"></aui-logo>
  </div>
  <div auiHeaderMenuItem>
      <a href="/">
          <button class="a-button a-button--navigation u-hide-on-mobile is-active">
              <span>Home</span>
          </button>
      </a>
  </div>
</aui-header>
<main>
  <div class="u-wrapper u-margin-bottom-lg u-margin-top-lg">
      <div class="u-container">
          <h1>{{title}}</h1>
      </div>
  </div>
</main>
<aui-footer>
  <div auiFooterBottom>
      <aui-subfooter>
          <aui-copyright domain="Stad Antwerpen - Digipolis"></aui-copyright>
      </aui-subfooter>
  </div>
</aui-footer>